<div id="welcome">
	<div class="home-text">
		<hr>
		<p>Her kıyafet başka bir ruh taşır. Önemli olan bizim ruhumuzla hangisinin örtüştüğü...</p>
		<p class="text-right"><img src="/assets/img/signature.png" width="220"></p>		
		<hr>
		<div class="row">
			<div class="col-sm-6">
				<img src="assets/img/zor-begenen-adam/merhaba/merhaba.jpg" class="img-responsive">
				<h2>MERHABA</h2>
				<p>BEN ZOR BEĞENEN BİR ADAMIMIM.</p>
				<a href="/zor-begenen-adam/merhaba">Devamını oku</a>
				<hr>
			</div>
			<div class="col-sm-6">
				<img src="assets/img/yazilar/selin-deniz-lacin/askin-goruntusu.jpg" class="img-responsive">
				<h2>AŞKIN GÖRÜNTÜSÜ</h2>
				<p>Sevgilimle kalabalık, hatta hepimizin kafası hafif kırık bir ortamda karşılaştık..</p>
				<a href="/yazilar/askin-goruntusu">Devamını oku</a>
				<hr>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-6">
				<img src="assets/img/magazin/roportaj-evren-sumlu/roportaj-evren-sumlu.jpg" class="img-responsive">
				<h2>EVREN ŞUMLU İLE RÖPORTAJ</h2>
				<p>FOTOĞRAF VE MODA</p>
				<a href="/magazin/roportaj-evren-sumlu">Devamını oku</a>
				<hr>
			</div>
			<div class="col-sm-6">
				<img src="assets/img/magazin-2018-favorilerim.jpg" class="img-responsive">
				<h2>2018 FAVORİLERİM</h2>
				<p>Alexander Mcqueen bence 2018'e en iyi giriş yapan marka oldu.</p>
				<a href="/magazin/favorilerim-2018">Devamını oku</a>
				<hr>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-6">
				<img src="assets/img/xl-moda.jpg" class="img-responsive">
				<h2>XL MODA</h2>
				<p>Artık kilolu hanımların da modaya dahil olmalarını istiyorum.</p>
				<a href="/xl-moda/xl-moda">Devamını oku</a>
				<hr>
			</div>
			<div class="col-sm-6">
				<img src="assets/img/ikon-olmak.jpg" class="img-responsive">
				<h2>İKON OLMAK</h2>
				<p>Geçmişten bugüne ikon kadınlar ve erkekler hep var oldu.</p>
				<a href="/moda/ikon-olmak">Devamını oku</a>
				<hr>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-6">
				<img src="assets/img/kadinlarin-gizli-dunyasi.jpg" class="img-responsive">
				<h2>KADINLARIN GİZLİ DÜNYASI</h2>
				<p>İç çamaşırı incelikle ele alınması gereken bir konu. Giyimin perde arkasındaki yardımcısı ve tamamlayıcısı.</p>
				<a href="/moda/kadinlarin-gizli-dunyasi">Devamını oku</a>
				<hr>
			</div>
			<div class="col-sm-6">
				<img src="assets/img/moda-denizi.jpg" class="img-responsive">
				<h2>MODA DENİZİ</h2>
				<p>Moda gerçekten tam manasıyla kocaman bir denizdir. Sadece kumaşlardan ve giyimden oluşmaz.</p>
				<a href="/moda/moda-denizi">Devamını oku</a>
				<hr>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-6">
				<img src="assets/img/moda.jpg" class="img-responsive">
				<h2>MODA</h2>
				<p>Öncelikle moda güzel bir görsele sahip olmak ya da üretici için güzel bir görsel üretmekten ibaret değildir.</p>
				<a href="/moda/moda">Devamını oku</a>
				<hr>
			</div>
		</div>
	</div>

</div>