<div id="welcome">
	<div class="home-text">
		<p>Öncelikle moda güzel bir görsele sahip olmak ya da üretici için güzel bir görsel üretmekten ibaret değildir. Biz üreticiler giydirdiğimiz kişilere sadece kıyafet değil ruh hali de giydiriyoruz ve dolayısıyla bir tasarımcı tek parça kumaşla bile harikalar yaratabiliyor. Eğer kalıp vücut tipine uygunsa işçilik ve kaliteden ödün verilmemişse, doğru parçalar birleştirilmiş ya da önerilmişse böyle bir kıyafet tabii ki taşıyan kişiyle bütünleşir ve görselde de bir karakter elde edilmiş olur. Bu şartlar altında gözü rahatsız eden bir şey de kalmaz böylece güzel bir stil yakalanmış olur. İster Dünya modasını takip edersiniz isterseniz de kendi modanızı yaratırsınız. Bana göre ikisinin de farklı lezzetleri var...</p>
     	<p>Kendi modamızı yaratacaksak öncelikle ( dünya markalarının hepsinin bir kadını vardır tip ve tarz olarak) içimizdeki kadının kim olduğunu bilmeliyiz, içimizdeki kadının ihtiyaçlarını, isteklerini, ideallerini daha da özü şu ki; yine kendimizi iyi tanımalıyız ama bu defa daha içsel bir pencereden tıpkı bir sanatçı gibi bakmalıyız. İnsanın kendi modasını yaratması var olan modayı takip etmesinden daha zordur. Kendi kişiliğimizi ve vücudumuzu güzelce analiz edip konsept olarak kişiliği, kalıp olarak vücudumuzu kullanır ve tam da bize göre bir gardrop ortaya çıkarabiliriz.</p>
       	<p>Peki modayı takip etmek ?</p>
		<p>Yine kendimizi ve vücudumuzu iyi tanımalı ve anlamalıyız. Bunu yapabilmek bizi istenmeyen sonuçlardan tamamen kurtarır tıpkı bir illüzyon gibi kusurlarımızı kapatır. Daha güçlü ve orantılı bir görsele sahip oluruz. Modacılar trend, renk ve modelleri belirleyip sunuyorlar, modayı takip eden herkes bundan yararlanmalıdır. Bunun yanında yine de tenine, vücuduna,yaşayışına en uygun renkleri ve parçaları seçmelidir. Tarz ve üslup hep çok önemlidir. </p>
     	<p>Aksesuar demek elimize geçeni takmak demek değildir. Sade bir giysi üzerine takılan şık bir saat, spor giysi için kullanılan bir saç bandı bile tıpkı ağır abiyelerde kullanılan pırlantalar kadar etkili olabilir. </p>
     	<p>Ayakkabı ve çanta konusuna girmiyorum bile, hassasiyeti siz anlayın...</p>
		<p>Tarz bir kıyafet taşıyan kişiye kendini iyi hissettirecektir. Giydiğimiz kıyafetin içinde iyi hissetmek özgüvenimizi de kesinlikle tazeleyecek ve yükseltecektir. </p>
		<p class="text-right"><img src="/assets/img/signature.png" width="220"></p>
		<hr>
		<div class="row sublinks">
			<div class="col-sm-6">
				<h2 ng-click="gotoPage('/iletisim')">Perakende ve toptan satış için</h2>
			</div>
			<div class="col-sm-6">
				<h2 ng-click="gotoPage('/koleksiyon')">Koleksiyonumuzu incelemek için</h2>
			</div>
		</div>
		
		<hr>
	</div>

</div>