<article>
	<img src="/assets/img/magazin-2018-favorilerim.jpg" class="article-img">
	<h1>2018 FAVORİLERİM</h1>
	<h5>28.03.2018</h5>
	<hr>
	<div class="row">
		<p><img src="assets/img/magazin-2018-favorilerim-alexandermcqueen.jpg" class="pull-left col-sm-4">Alexander Mcqueen bence 2018'e en iyi giriş yapan marka oldu. Balmain'in 2017'ye damga vuran biraz sert çizgileri olan müthiş koleksiyonunun hemen arkasından gelen Alexander Mcqueen'in doğayla bütünleşmiş koleksiyonu modanın farklılıklardan bütüne giden, sürekli gelişen bir sektör olduğunu bize gösteriyor. Kelebek konseptli parçalar ve defile müziği tam bir ahenk içinde ve bana kalırsa 2018' e damga vuracak cinsten.</p>
	</div>
	<hr>
	<div class="row">
		<div class="col-sm-4">
			<img src="assets/img/magazin-2018-favorilerim-kahverengi.jpg" class="img-responsive" vspace="10">
			<p>Antik yunan heykellerinin modern hali gibi... Sadeliğine rağmen oldukça şık. Hanımlar düz kahverengi renkte bir elbiseyle de ne kadar şık olabileceğinizi burada görüyorsunuz.</p>
		</div>
		<div class="col-sm-4">
			<img src="assets/img/magazin-2018-favorilerim-lacivert.jpg" class="img-responsive" vspace="10">
			<p>Abiye bir elbiseye kocaman fiyonk oturtup süper başarılı olmak markaların, firmaların büyük emekleriyle mümkün oluyor. Göğüs kesimi, yırtmacın yeri,rengi ve genel duruş asaletin resmi diye düşünüyorum. </p>
		</div>
		<div class="col-sm-4">
			<img src="assets/img/magazin-2018-favorilerim-kirmizi.jpg" class="img-responsive" vspace="10">
			<p>Burada milli duygularım da devreye girdi açıkçası. Biz Türkler olarak hiç kırmızı beyaz koleksiyonlarımız olmadı. Başka milletler bayraklarını ne güzel kullanıyor.Tabi bu elbisenin söylediklerimle alakası yok ama üreten biri olarak aklıma getirdiği ilk şeyi paylaşmak istedim. Elbise için söyleyeceğim kırmızı ve beyazın müthiş birlikteliği olacak. Yırtmaç tasarımı ve rengiyle harika.</p>
		</div>
	</div>
	<hr>
	<p>Hanımlar bu elbiselerden 2018 de gidecekleri özel davetler ve düğünler için ilham alabilirler.. </p>
<hr>
	<h4><small>Yazan</small> Deniz Koruk</h4>
</article>