<article>
	<img src="/assets/img/ikon-olmak.jpg" class="article-img">
	<h1>İKON OLMAK</h1>
	<h5>26.03.2018</h5>
	<hr>
	<p>
		  İkon olmak,<br>
          İlham almak,<br>
          Taklit etmek ya da olmak...<br>
</p>
<p>
          Geçmişten bugüne ikon kadınlar ve erkekler hep var oldu. Moda ikonu olmak en genel anlamıyla trendleri önceden yakalamak ve kitlelere hitap edebilmek, onları yönlendirebilmektir. Sözlük tanımına en yakın açıklama böyle. 
          </p>
<p>
Bana göre moda ikonu daha önce görülmemiş bir stili ortaya koyan ya da var olan stili benzersiz şekilde yorumlayan ve üzerine tastamam oturtan kişidir. Ona ruh katar ve duruşuyla, haliyle, tavrıyla tamamlar. Bazen zor bazen kolay benimsenir ama sonuç hep aynı olur. İnsanlar bu kişilere benzemek için birbiriyle yarışır. 
</p>
<p>
          Herkesin ikon kabul ettiği birileri vardır. <br>
          Ben Nefertiti'yle başlıyorum. :) Adının anlamı güzel olan Nefertiti'nin adıyla bütünleşmiş kolyesi, birden fazla kullandığı küpeleri, parmaklarının arasında tuttuğu işlemeli kraliyet asası ve kazınmış kafasındaki başlığı onu devrinin ikonu yapıyor. Bu kıyafet ve aksesuarları başkasının üzerinde bir araya getirsek herkesin aklına Nefertiti gelir.<br>
          Marilyn Monroe; kısa platin dalgalı saçlar demek bile onu anlatmaya yeter.<br>
          Amy Winehouse; arı kovanı saçlar, kalın ve uzun çekilmiş sürme, dövmeler,... Dendiğinde yine başkası hayal edilemez.<br>
          Bunun gibi Frida Kahlo, Audrey Hepburn, prenses Diana, erkeklerde Elvis Presley, Barış Manço,... ve daha başka isimler sayabiliriz. 
</p>
<p>
          Bu kişiler kendi stillerini ortaya koydular evet ama sadece stil yeterli olmaz o stili iç dünyanız belirlemeli. Size ait olmayan, sizden olmayan her şey eğreti duracaktır. İçinizden dışınıza doğru yansıyan o stili bulursanız sizde ikon olabilirsiniz. Fakat bilmelisiniz bana göre bu da ayrı bir sanat şekli ve kendinizi artı eksi her yönünüzle bilmeli, içinizdeki kadının arzularına kulak verebilmeli, hayallerinizdeki size cesaretle kucak açmalısınız. Bu çok zor diyorsanız ki haklısınız.
</p>
<p>
          İkon olarak gördüğümüz tanınmış kişilerden esinlenebiliriz. Ruhumuza, kalbimize en çok dokunan kimse ondan ilham almak... İşte burada taklit olmamak çok önemli çünkü ilham almakla taklit etmek arasında ince çizgiler var.  Bir kadının Marilyn Monroe gibi dalgalı ve havalı saçlar kullanması onu Marilyn Monroe yapmaz fakat aynı zamanda sarıya boyar ve kısa kestirirse bu onu taklitten öteye geçirmez. Kendinizde olanı bozmamalısınız. Her zaman giyim, makyaj, aksesuar,... Konularında bilgi toplayın etrafınızda neler olup bitiyor bakın ama asla sizi kendinizden başka birine çevirecek bir şeyi alıp kullanmayın. Yorum katın. Aynaya baktığınızda yine kendinizi ama çok daha havalı olduğunuzu görün. Başardığınızda bu size mükemmel hissettirecektir...
	</p>
	<hr>
	<h4><small>Yazan</small> Deniz Koruk</h4>
</article>