<article>
	<img src="/assets/img/kadinlarin-gizli-dunyasi.jpg" class="article-img">
	<h1>KADINLARIN GİZLİ DÜNYASI</h1>
	<h5>25.03.2018</h5>
	<hr>
	<p>İç çamaşırı incelikle ele alınması gereken bir konu. Giyimin perde arkasındaki yardımcısı ve tamamlayıcısı... Seçtiğiniz elbise ne kadar önemliyse onun içine giydiğiniz çamaşırlar da o kadar önemli.</p>
	<ol>
	  	<li>İç çamaşırlarınız takım olmalı. Giyinirken ya da soyunurken aynada kendinizi gördüğünüzde bundan sizde çok memnun olacaksınız. Bence çok hoş bir görseldir.<br>
		Başka başka alt üstler ruhunuzdaki enerjiyi tüketmiyor mu? Tek sutyen aldığınızda belli bir ödeme yapıyorsunuz ve alt çamaşır için de ayrıca yine bir ödeme yapıyorsunuz. Öyleyse birlikte ödeyip takım olarak giymek ne kadar zor olabilir ki?  <br>
		Peki iç çamaşırlar çok seksi her gün seksi mi olalım? Derseniz günlük kıyafetlerinize gayet uygun siyah, beyaz, pudra renklerinde ya da rengarenk bir sürü günlük model var. İç çamaşır firmaları çok güzel koleksiyonlar hazırlıyor. Ben takip ediyorum sizler de edin, bayılacaksınız.
		</li>
		<li>Takım olmayan iç çamaşırı giyerken; günlük giyiminizde alt ve üst ayrı renklerde ise dikkat etmeniz gereken nokta iç çamaşırınızın dantel, kumaş, işleme... vs  özelliklerinin birbirini tutması. Uyum yoksa takım etkisi de yoktur. 
		</li>
		<li>Kombininiz neyse, ne renkse ona göre çamaşır seçin. Gece elbiselerinizin içine seksi,hafif, ışıltılı bir takım mükemmel olacaktır ya da günlük kıyafetlerinizin içine. Yarı transparan beyaz bir bluz ve beyaz sutyenin üste yansıyan görüntüsü... Bu örneği başka renklere de uygulayabilirsiniz ve lütfen alt çamaşırınız olabildiği kadar görünmesin ya da belli olmasın.Ayrıca kıyafetinizin sağından solundan fırlayan ve sürekli düzeltmek zorunda kaldığınız çamaşırlara da bir o kadar karşıyım. Yine söylediğim gibi alt grupta pantolondan oturup kalktıkça dışarı taşan alt çamaşırınız da korkunç görünecektir. İşte bu yüzden üzerinize giydiğiniz kıyafeti seçmeden içinize ne giyeceğinize karar vermemelisiniz. Bu durumda yapmanız gereken yaka ve kol kesimine göre sutyen, pantolon ya da etek bel yüksekliğine ve darlığına göre alt çamaşır seçmek olacaktır
		</li>
		<li>İç çamaşırları seçerken görsel kadar önemli olan tabi ki onları muhafaza edip en uzun süre kullanabilmektir.
		Alt ve üst çamaşırınızı ayrı ayrı yıkamayın. Rengi atacaksa birlikte atsın. Siz bunu fark etmezsiniz bile ama ayrıyken bir ton bile o birliği bozacaktır ve sizi soğutacaktır.<br>
		Çok yüksek ısılarda yıkamayın. Dantel de penye de olsa bozulabilir. Yıkama sonrasında orta ısılı ütüyle üzerine ince bir bez koyarak ütülerseniz hijyen konusu da hallolmuş olur. Zaten her gün değiştirilmesi gerektiği için temizlik te sorun olmaz.
		</li>
		<li>Yaza giriyor olsak da bu konuyu atlamak istemiyorum. Kilotlu çoraplar. Hiç giymeyin diyemem tabi ki ama hatırlatmak isterim jartiyersiz de jartiyer çorabı giyilebilir. Çorapların bacağa yapışan cinsini alırsanız düşme riski de olmaz, kolayca kullanabilirsiniz. Hiç değilse gece elbiselerinizi iç çamaşırınıza uygun jartiyer çorabıyla tamamlarsanız sonuçtan duyacağınız mutluluğu garanti ediyorum :) Sadece iç çamaşırlarınız ve jartiyer çorabınız inanın bana jartiyer takımından daha güzel duracak. Jartiyer takımlara da çok abartılı olmadıkça bayılırım. Gündüz kıyafetleriniz için yine baldırda biten çoraplar var. Nasıl spor giyindiğinizde spor çoraplarınız varsa her kıyafetinizin uygun çorabı da olmalı.</li>
	</ol>
	<hr>
	<h4><small>Yazan</small> Deniz Koruk</h4>
</article>