<article>
	<h1>MAGAZİN</h1>
	<hr>
	<div class="row">
		<div class="col-sm-6">
			<img src="assets/img/magazin/roportaj-evren-sumlu/roportaj-evren-sumlu.jpg" class="img-responsive">
			<h2>EVREN ŞUMLU İLE RÖPORTAJ</h2>
			<p>FOTOĞRAF VE MODA</p>
			<a href="/magazin/roportaj-evren-sumlu">Devamını oku</a>
			<hr>
		</div>
		<div class="col-sm-6">
			<img src="assets/img/magazin-2018-favorilerim.jpg" class="img-responsive">
			<h2>2018 FAVORİLERİM</h2>
			<p>Alexander Mcqueen bence 2018'e en iyi giriş yapan marka oldu.</p>
			<a href="/magazin/favorilerim-2018">Devamını oku</a>
			<hr>
		</div>
	</div>
</article>