<article ng-init="$parent.custombg='/assets/img/zor-begenen-adam/merhaba/inside-bg.jpg'">
	<img src="/assets/img/zor-begenen-adam/merhaba/merhaba.jpg" class="article-img">
	<h1>MERHABA</h1>
	<h5>02.04.2018</h5>
	<hr>
	<p>BEN ZOR BEĞENEN BİR ADAMIMIM,</p>
	<p>ÇOK KLİŞE BİR CÜMLEDİR AMA, "MODA, YAKIŞANDIR" SÖZÜNE YÜZDE YÜZ İNANAN BİRİYİM... VE MODA'NIN ALT METNİNDE "UYUM" FAKTÖRÜNÜ ÖNEMSİYORUM. BU BAĞLAMDA BİRAZ MODA TAKİPÇİSİ BAYANLARI ÇEKİŞTİRELİM. VE "ERKEK GÖZÜYLE" OBJEKTİF ÖNERİLERDE BULUNALIM. </p>
	<p>ÖNCELİKLE KIYAFET VE AKSESUAR SEÇERKEN, ŞÖYLE BİR FİZİKİ ÖZELLLİKLERİNİZE BAKIN. TEN RENGİNİZE, SAÇ RENGİNİZE BAKIN. SONRA GEÇİN AYNANIN YA DA GARDROBUN KARŞISINA... "MODA ÖRTÜNMEK DEĞİL, GİYİNMEKTİR" DİYENLERE SAYGIM SONSUZ AMA, ESTETİK OLMAYAN BÖLGELERİ KAPATMAK HER ZAMAN İYİDİR.</p>
	<p>İKİNCİSİ, "STİL" SEÇİMİ... GİYDİĞİNİZ KIYAFETLER, AYAKKABILAR, HATTA KÜPELER, SAATLER YALNIZCA FİZİĞİNİZE DEĞİL, RUHUNUZA DA UYMALI...RUH VE BEDENDEN İBARETİZ YA, FARKLI GİYİNİNCE FARKLI OLMUYORSUNUZ!</p>
	<p>ALLAH'TAN HAVALAR ISINIYOR, ÇORAPLAR ÇIKACAK. BAZEN ÇOK ŞIK VE ZARİF BİR BAYAN, ÖYLE YANLIŞ ÇORAP SEÇİYOR Kİ, DAYANAMAYIP UYARMAK GELİYOR İNSANIN İÇİNDEN... </p>
	<p>"ERKEK GÖZÜYLE" BİR ALTIN UYARI DAHA: LÜTFEN OJEMLE UYUMLU OLACAK DİYE OLUR OLMAZ RUJ KULLANMAYIN! DOLGUN DUDAK TAKINTISIYLA RUJU TAŞIRIP, KALEMLE KONTÜR ATMAYIN... ÇOK KOMİK OLUYORSUNUZ!</p>
	<p>NEYSE, HEMCİNSLERİNİZ HER ZAMAN SİZE "ACI GERÇEKLERİ" PAT DİYE SÖYLEMEZ. AMA BEN SÖYLEMEYE DEVAM EDECEĞİM. </p>
	<p>HOŞ KALIN, MUTLU KALIN... </p>
	<hr>
	<h4><small>Yazan</small> Zor Beğenen Adam</h4>
</article>