<article>
	<h1>MODA</h1>
	<hr>
	<div class="row">
		<div class="col-sm-6">
			<img src="assets/img/ikon-olmak.jpg" class="img-responsive">
			<h2>İKON OLMAK</h2>
			<p>Geçmişten bugüne ikon kadınlar ve erkekler hep var oldu.</p>
			<a href="/moda/ikon-olmak">Devamını oku</a>
			<hr>
		</div>
		<div class="col-sm-6">
			<img src="assets/img/kadinlarin-gizli-dunyasi.jpg" class="img-responsive">
			<h2>KADINLARIN GİZLİ DÜNYASI</h2>
			<p>İç çamaşırı incelikle ele alınması gereken bir konu. Giyimin perde arkasındaki yardımcısı ve tamamlayıcısı.</p>
			<a href="/moda/kadinlarin-gizli-dunyasi">Devamını oku</a>
			<hr>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-6">
			<img src="assets/img/moda-denizi.jpg" class="img-responsive">
			<h2>MODA DENİZİ</h2>
			<p>Moda gerçekten tam manasıyla kocaman bir denizdir. Sadece kumaşlardan ve giyimden oluşmaz.</p>
			<a href="/moda/moda-denizi">Devamını oku</a>
			<hr>
		</div>
		<div class="col-sm-6">
			<img src="assets/img/moda.jpg" class="img-responsive">
			<h2>MODA</h2>
			<p>Öncelikle moda güzel bir görsele sahip olmak ya da üretici için güzel bir görsel üretmekten ibaret değildir.</p>
			<a href="/moda/moda">Devamını oku</a>
			<hr>
		</div>
	</div>
</article>