<article ng-init="$parent.custombg='/assets/img/magazin/roportaj-evren-sumlu/inside-bg.jpg'">
	<img src="/assets/img/magazin/roportaj-evren-sumlu/roportaj-evren-sumlu.jpg" class="article-img">
	<h1>Evren Şumlu ile Röportaj</h1>
	<h5>30.03.2018</h5>
	<hr>
	<h2>FOTOĞRAF VE MODA</h2>
      
     <h3>Evren; fotoğrafçı olmaya nasıl karar verdin?</h3>

     <p>Ben aslında matbaa meslek lisesinden mezunum. Baskı bölümünden. Gözümü ilk Hürriyet gazetesinde açtım. Orada gazeteler dergiler basın baya ilgimi çekmişti. Sonra şans eseri (meslek lisesi mezunu olduğum için şans eseri) fotoğrafçılık bölümünü kazandım ve oraya geçiş yaptım. Üniversite tercihlerinde fotoğrafçılık bölümü vardı.Bir gün Akçay'da tatil yaparken fotoğrafçılık bölümünü kazandığımı öğrendim. Tam dönerken okulun önünden geçerken dönücem sana dedim :))bu kadar şans olur Akçay' da tatil yapıyoruz. Ablam söylüyor. E önündeyiz zaten okulun diyorum. Çocukluğumdan beri zaten bunu istiyordum. Fotoğraf her zaman aşktı benim için. Çok tatil yapmayı sevdiğim için gezdiğim her yerde fotoğraf ta çekiyordum zaten.</p>

     <div class="row"><img src="/assets/img/magazin/roportaj-evren-sumlu/roportaj-evren-sumlu-1.jpg" class="col-xs-12" vspace="20"></div>

<h3>Peki fotoğrafçılıkla fotoğraf sanatçılığı arasındaki fark ne?</h3>

     <p>Günümüzde biliyorsun artık herkes fotoğraf sanatçısı. Cep fotoğrafçılığı gibi bir şey başladı. Aradaki fark şunu söyleyeyim normalde herkes fotoğrafçı. profesyonel makinesi olabilir, cep telefonuyla çekiyor olabilir, yarı profesyonel olabilir. Bir şekilde herkesin digital ya da analog makinesi var. Fotoğrafçıyla fotoğraf sanatçılığı arasındaki fark fotoğraf sanatçısı çektiği fotoğraflarla sergi açan, fotoğrafı yorumlayan ve bu işin belki daha dibini, hani karanlık odasını bilen insanlar. Ödüller almış,yarışmalara fotoğraf vermiş,kitaplara ,kurumlara,... vs kapaklar çekmiş. Biz buna fotoğraf sanatçısı diyoruz.</p>

<h3>Fotoğrafla moda ayrılmaz bir bütün. Moda çerçevesinde çekilen fotoğraflardan hoşnut musun? Sence yeteri kadar sanat var mı moda fotoğraflarında?</h3>

     <p>Şu var; ben beğeniyorum.Çok ciddi derecede şimdi isim vermeyeyim o alınır, o alınır falan :) Ben herkesi başarılı buluyorum çünkü gerçekten yurt dışıyla yarışıyoruz. Artık ülkemizde çok güzel stüdyolar var çok güzel ekipmanlar var. Bu ekipmanlar ve stüdyolar, fotoğrafçının enerjisi ve bakış açısı doğrultusunda inanılmaz derecede güzel kareler ortaya çıkartıyor.</p>

<h3>Sana altın bir soru :) Fotoğrafçılık kariyerinde, fotoğraf sanatçılığı kariyerinde ulaşmak isteyebileceğin en son nokta nedir? Nereye doğru gitmek, nereye ulaşmak istiyorsun? Her meslek grubu için merak ederim bu soruyu.</h3>
<div class="row">
     <img src="/assets/img/magazin/roportaj-evren-sumlu/roportaj-evren-sumlu-2.jpg" class="col-md-6 img-responsive" vspace="10">
     <p class="col-md-6">Şöyle söyleyeyim Türkiye'de yaşıyoruz yurt dışına açılmak isteriz ama şuan en son uzaya araç yolladılar. En son artık uzay :)) Uzayda fotoğraf çekmeyi çok isterim. Ciddi ciddi seni uzaya gönderelim deseler giderim ve çekerim. Gerçekten. Her yer artık ulaşılır. Bir Londra bir Paris... vs  Marsta veya Jüpiter'de bulursam uygun bir stüdyo  açmayı düşünüyorum. Seni de alırım yanıma çalışmalara oradan devam ederiz  :))</p>
</div>

<h3>Hayranı olduğun bir fotoğrafçı var mı? Kendine idol edindiğin biri ? Ya da ben kendim idol olucam idole ihtiyacım yok mu diyorsun?</h3>

     <p>Çok ego yok. Ben, ben, benlik bir durum yok. sonuçta herkesin enerjisi, işi gücü farklı. Bizi Türk olarak dışarıya yansıtan Mert Alaş var. Zaten en iyi fotoğrafçı. Kim Kardashian'ın komşusu, başarılı insanlarla çalışan,ünlülerin kankası,..vs bir kişi. Bizde nasıl Nihat Odabaşı. O da oralarda öyle. Bu iki ismi eskiden beri takip ederim. Bir de Koray Birand var.  Tabi bunlar çok Türkiye'de bulunmuyor ve magazinsel durumları pek yok.</p>
</div>

<h3>Moda konusuna gelelim. Moda senin için nedir?</h3>

     <p>Moda benim için enerji ve karakterini yansıtacak kıyafetlerin, aksesuarların işte saç, baş, bakım olabilir. Hepsini kombin edebilmektir.</p>

<h3>Buna göre bir kadını nasıl görmek istersin? Bir kadın sana göre nasıl olmalı?</h3>

     <p>Benim için; bu yakınım olabilir, arkadaşım olabilir. Ben toplanmış saçı çok seviyorum. Çünkü kullandığı aksesuarlar, küpe vs saçlar toplandığı zaman daha bir ortaya çıkıyor. Ne bileyim basit bir at kuyruğu ama tabi kuaförün topladığı ya da dağınık toplanmış... Bunu çok başarılı yapan kadınlarımız var. Bence güzellik saçta başlar. Ben süzmeye direk saçtan başlarım :)) Saçlardan aşağıya doğru. Yani ; saç,makyaj, aksesuarlar, gömlek, bluz artık neyse ,pantolon, klasik ya da spor ayakkabı tercihim bütün bunların kombini. </p>

<h3>Peki erkekler neden modaya yeteri kadar dahil olmuyor?</h3>

     <p>Aslında son yıllarda erkekler de modaya dahil olmaya başladı ve hatta modaya yön vermeye başladılar. Mesela kaşların yapılması, jean pantolon kombinleri artmaya başladı. Aslında tabi yavaş yavaş. Biz erkekler bir kaç dakikada hazırlanıp kendimizden öyle de mutlu olabiliyoruz. Ama siz kadınlar bizden öyle mutlu oluyor musunuz bilemiyoruz. :)) </p>

<h3>Türkiye'de ve Dünyada modada fark yaratmış bir erkek var mı?</h3>

     <p>Var ben :)))<br>
     Mabel Matiz olabilir, Barış Manço ve Dünya için Michael Jackson.</p>

<h3>Kadınlarda peki?</h3>

     <p>Aklıma bir ikoncan olarak Eda Taşpınar geliyor. Sen çok ikon olarak görmüyorsun biliyorum ama ismi bir dönem böyle anıldı. Aynı fikirde olduğumuz iki kişi daha var biri Şeyma Subaşı daha çok enerjisi ve pozitifliğiyle ve gün içinde bile farklı kıyafetler içinde gayet uyumlu görüntüsüyle gittikçe ikonluğa doğru yükseliyor diğeri Dünya modası için Marilyn monroe. :) Sanırım bunlarda hemfikiriz.</p>


<h3>Bu durumda verdiğin cevaba en uygun soruyu sormayı görev biliyorum. İkon olmayı başarmış kadınlar sadece görüntüsüyle ikon olmamıştır. Doğru mu? Nedir sır?</h3>

     <p>Sadece görüntü önemli değil.Yaşantısı da çok önemli. Gittiği yerler, enerjisi. Enerji de benim için çok önemli mesela. Tavrına tarzına uyar şekilde yaşaması kesinlikle çok önemli. Ayrıca ünlü bir markanın x elbisesini herkese giydirsek aynı olmaz. Kendine göresini giymek uygun olur.</p>

<div class="row">
     <img src="/assets/img/magazin/roportaj-evren-sumlu/roportaj-evren-sumlu-3.jpg" class="col-xs-12" vspace="20"></div>

<h3>Sen modayı takip etmek konusunda nerede duruyorsun? </h3>

     <p>Çok kasmıyorum :) Ben biraz daha ruh halime göre giyinmeyi seviyorum. Ne kadar modanın medyanın içerisinde olsam da ama tabi takip ve giyime özen gösteriyorum çünkü insanın önce kendine saygısı olması lazım. Bir aynaya bakmadan dışarı kesinlikle çıkmam. Yeri zamanı bazen casual bazen spor bazen klasik işte bazen çok çok zıt kombinler bazen böyle ara sıcaklar :)) O da bir giyim yani açılımı parça parça... Farklılıklardan ahenk ara sıcak dediğimiz o.</p>

<h3>Erkekler artık makyaj yapmaya başladı. Sence iyi midir? Yoksa o kadarı da fazla mı? </h3>

     <p>Çekim falan olacaksa zaten bu fondöten, pudra zaten yapılıyor bizde yapıyoruz. Bende yapıyorum çünkü parlamaları engelliyor. Makyaj o durumda olabilir. İhtiyaç halinde bazen de kapatmak amaçlı bir yara, sivilce gibi bu normaldir. Ama tabi sabah kalkıp ta bu line'lar, parlatıcılar, kaşlar falan yok. Ben şuna dikkat ederim kışın dudak çatlaması çok oluyor bende. O da çok yeme içmeyi sevdiğim için rahatsızlık veriyor ve dediğim gibi renksiz dudak stick. vanilya tercihim :)) Tadı da olsun. Her şeyin bir tadı olmalı.</p>

<h3>Marka çılgınlığına ne diyorsun? Şık olmak için marka şart mı?</h3>

     <p>Günümüzde şık olmak için bir yarış var ama ben illa yüksek marka giydiğin zaman ikoncan olmaya inanmıyorum. Bende öyle bir çılgınlık yok. Gördüğüm gezip dolaşırken enerjime ruh halime veya benim uygun gördüğüm bu pazar olabilir, ikinci el olabilir beğendiğimi alır giyerim ve yakıştırırım. Giydiğim tavrıma da gittiğim mekanlara da uyar. Almak için de almam. Enerjini, ruhunu, yaptığın işi yansıtmalı.</p>

<h3>Modaya mecbur muyuz? İsteyen istediği gibi giyinse mesela, herkes kafasına göre giyinse,... İnsanlar birbirine bu kadar müdahale ederken zor tabi ama...</h3>

<div class="row">
     <p class="col-md-7">Kimsenin modaya uyma mecburiyeti yok. Herkes kendi olsa kendini yansıtsa, renk, ton ve kombinler yapılabilir. Biraz magazinsel ve göz önünde olan insanlar modayı takip etmek zorunda. Neden? Çünkü yön verenler artık sen markalaşmışsın, dikkat etmek zorundasın. Mecburiyet olmasa da dikkat edilmeli. </p>
     <img src="/assets/img/magazin/roportaj-evren-sumlu/roportaj-evren-sumlu-4.jpg" class="col-md-5 img-responsive" vspace="10">
</div>

<h3>Etrafta nasıl kadınlar görmek isterdin?</h3>

     <p>Benim tarzım küçüklüğümden beri hiç değişmedi. Hala böyle bir high school tarzı. Saçlar toplu, makyaj sade, düz ayakkabılar. Hem basit günlük bir tarz hem de cool bir tarz.</p>

<h3>İç çamaşır mevzusu için özellikle bir fotoğrafçı ve katalog çeken biri olarak ne düşünüyorsun? Kadınlar nasıl seçimler yapmalı bir erkek gözünden paylaşır mısın?  Bence bu konuda erkeklerin fikri çok önemli.</h3>

     <p>Dagi'de bir çekimimiz olmuştu. O da bir giyim ve tarzınızı yansıtıyor. Ben takım çamaşırı giyilmesiyle ilgili çok senin gibi düşünmüyorum. Farklı alt üstte olabilir. Kabul edilemez değildir yani.Zıtlığı çok seven enerjiler de var mesela. Tamamen zıt ama gördüğüm zaman mutlu olabilirim. İki ayrı takım birleştirilebilir. Özel günlerde jartiyer giyilebilir ama sürekli öyle bir kadın da görmek istemem. Jartellerimi atabilir :)))</p>

<div class="row">
     <img src="/assets/img/magazin/roportaj-evren-sumlu/roportaj-evren-sumlu-5.jpg" class="col-xs-12" vspace="20"></div>

<h3>Peki Evren iletişim kurabilmek için görsel ne kadar önemli?</h3>

     <p>Tabi renk psikolojisi var. Soğuk renk giymiş birine bir şey sormaya çekinebiliriz. </p>

<h3>Peki benim gömleğimde köpek balıkları varken konuşmamız nasıl gidiyor ? :))</h3>

     <p>Gördüm evet ama renkli renkli. Sarı,mavi,turuncu shark'lar  gayet iyiyim şuan.</p>

<h3>Moda konusunda Türkiye'den yurt dışına açılmış müthiş isimler varken neden daha magazinel kişileri görüyoruz her gün? Mesela bu bana çok yanlış geliyor.</h3>

     <p>Magazinde biliyorsun ne kadar tıklanırsan o kadar değer görüyorsun. Onlar da ön planda oldukları için hep onları görüyoruz. Bu medyaya magazine bir yön verilmesi lazım. Haklısın, çok eksiklik yaşıyoruz. Büyük modacıların biraz ön plana çıkması lazım. Bu bizim kalitemiz. Çoğu da çıkmak istemiyor. Belki özel hayatlarını bozmak istemiyorlar. Ev iş, iş ev gibi. </p>

<h3>Son altın sorum :) Tarihte bir yerlerde yaşamış olsaydın hangi dönemi seçerdin ve tarihteki kadının peşinden koşacağın kadın kim olurdu?</h3>

     <p>Helenistik dönemde yaşamak isterdim. Dönem olarak ilgimi çekiyor. Tarihteki kadınım Kleopatra olurdu. Onun sezarı olmak isterdim. jülyen sezar :)) </p>
	<hr>
     <h4><small>Yazan</small> Deniz Koruk</h4>
	<h4><small>Mekan</small> İki Kedi</h4>
     <hr>
     <div class="text-center">Bu röportaj<br><img style="width: 50%; margin: 0 auto;" src="/assets/img/magazin/roportaj-evren-sumlu/extreme-audio-logo.png"><br>sponsorluğunda gerçekleşmiştir.</div>
</article>