<article>
	<img src="/assets/img/xl-moda.jpg" class="article-img">
	<h1>XL MODA</h1>
	<h5>26.03.2018</h5>
	<hr>
	<p>Artık kilolu hanımların da modaya dahil olmalarını istiyorum ve moda hakkında fikir alabilecekleri, hatta fikir verebilecekleri ortak bir alanımız olabilmesi için XL MODA bölümünü ekledim.
</p>
    <p>      XL bedenden çok daha kilolu müşterilerim var ve her birine ayrıca teşekkür ediyorum. Çünkü böyle bir bölüm yapmaya ihtiyaç olduğu fikri aklıma onlarla çalışırken geldi.
</p>
    <p>
          Kilolu hanımlar; bu ilk yazımda öncelikle, olduğunuz halinizle de ne kadar güzel olduğunuzu hatırlatmak istiyorum ve eğer kıyafetlerinizi doğru seçerseniz daha ne kadar güzel olabileceğinizi ben şahsen kendi atölyemde gözlerimle gördüm.
</p>
    <p>
          <img src="assets/img/xl-moda-tess-holliday.jpg" class="pull-left col-sm-5">Modayı takip etmek için fit olmayın ya da olmanız gerekmiyor. Bunun için bana gelmeniz yeterli :) Kendiniz için, sağlığınız için fit olun. Bu kendinize karşı olan insani görevinizdir. Kilo vermek, kiloyu kontrol altında tutabilmek çoğu kadın için büyük sorun. Fakat kiloluyken moda takip edilemez diye bir şey yok. Biz terziler, hangi ölçülerde olursanız olun istediğiniz kıyafeti size giydirmek için varız. Nasıl zayıf bir kadının kusurlarını gizleyerek giydirmemiz gerekiyorsa, sizin için de yapılacak olan aynı şeydir.
</p>
    <p>
          Tabii kilo vermelisiniz. Bunun için mücadele etmelisiniz. Öncelikli amacınız sağlık ve yaşam kaliteniz ancak ondan sonra modaya ayak uydurmak olmalı.
</p>
    <p>
          Adetli çalışan firmalar büyük bedene çok girmiyorlar. Girenler de siyah kocaman dökümleri olan anne bluzleri ve modelsiz elbiselerle geçiştiriyor. Sizler de haklı olarak dışarıda kalmış hissediyorsunuz. İşte bu yüzden ben en azından kendi ulaşabildiğim büyük beden hanımlara buradan durumun böyle olmaması gerektiğini anlatmaya çalışacağım. Ayrıca nasıl giyinmek isterseniz biz sizin için dikebiliyoruz bunu da hatırlatmak isterim. Sadece önerilerde bulunup gerçek hayatta uygulayamayacağınız şeyler yazmak niyetinde değilim. Ben açıkçası siyahlar, koyular içine hapsolmuş şişmanlar görmek istemiyorum. Model hep aynı hiç değişmiyor; toplu saçlar, makyajsız yüzler, bakımsızlık, olması gerekenden daha kocaman elbiseler,... Böyle olmayın. Her gün böyle olmak sizi mutsuz, umutsuz insanlara dönüştürür. Neden böyle olsun ki?
</p>
    <p>
          En genel hatlarıyla söylemek gerekirse dirsek altında biten, kolları tam mı? Yarım mı? Belli olmayan ve 5 beden daha da büyük duran dümdüz bluzlere tamamen karşıyım. Yüzünüzde sıfır makyaja ve toplu saçlara da öyle. Hafif bir bb yada fondöten, bakımlı kaşlar, sadece rimel ve kıyafetinize uygun rujunuz, toplu da olsa bakımlı örneğin kuaförünüzün doğal dalgalarla ya da fönleyerek topladığı saçlar,... İnanın hiç zor değil. 
</p>
    <p>
          Bütün bunlarla ilgili önerilerim, seçimlerim ve hatta diyetisyen dostlarımdan sizin için aldığım reçete ve önerilerle her ay burada olacağım. Sormak, yardım almak veya yazmamı istediğiniz konularda bana e-posta yoluyla ulaşabilirsiniz.
	</p>
     <hr>
     <h4><small>Yazan</small> Deniz Koruk</h4>
</article>