html,body{
	height: 100%;
	min-height: 100%;
	font-family: "Raleway","Helvetica Neue",Helvetica,Arial,sans-serif;
}
body{
	height: 100%;
	background:#f2f2f2;
}
a,a:focus, a:hover{
  color: #074a28;
}
article{
  padding-bottom: 100px;
}
.article-frame{
  background-color: #f2f2f2;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  height: 100%;
  overflow-y: auto;
}
.container{
  padding-left: 165px;
}
.content-ng{
  background-color: #f2f2f2;
  background-image: url(/assets/img/inside-bg-empty.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  height: 100%;
  overflow-y: auto;
}
.header{
  position: fixed;
  width: 150px;
  height: 100%;
}
#logo{
  position: relative;
  background-image: url(/assets/img/mobilelogo.png);
  background-repeat: no-repeat;
  background-position: top;
  background-size: contain;
  pointer-events: none;
  height: 200px;
  width: 100px;
  margin:20px;
}
#welcome{
  background-color: #f2f2f2;
  background-image: url(/assets/img/deniz-koruk.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  padding: 100px;
  height: 100%;
  overflow: auto;
}
#nav{
  float: right;
  margin-top:40px; 
}
#nav ul,#nav li{
  list-style: none;
  padding:0;
  margin:1px;
  display: inline-block;
}
#nav li a{
  padding:10px;
  font-size: 20px;
  color: #fff;
  font-weight: 100;
  text-decoration: none;
  background-color: #cf9798;
  display: block;
}
#nav li a:hover{
  background-color: #c36666;
}


.home-text{
  width: 50%;
  margin-left:10%;
  color: #333;
}
.ngsb-container{
  padding-right: 40px;
}
.collection{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left:0;
  overflow: hidden;
  white-space: nowrap;
  padding: 100px 0;
}
.collection-body{
  white-space: nowrap;
  height: 100%;
  -webkit-transition: all 500ms ease-out;
  -moz-transition: all 500ms ease-out;
  -o-transition: all 500ms ease-out;
  transition: all 500ms ease-out;
}
.collection-item{
  position: relative;
  width: 200px;
  height: 100%;
  float: left;
  filter:grayscale();
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  opacity:.5;
  -webkit-transition: all 500ms ease-out;
  -moz-transition: all 500ms ease-out;
  -o-transition: all 500ms ease-out;
  transition: all 500ms ease-out;
  cursor: pointer;
}
.collection-item:hover,.collection-item.selected{
  opacity:1;
  filter:none;
}
.collection-item.selected{
  width:250px;
}
.collection-item p{
  display:none;
}
.collection-item:hover p,.collection-item.selected p{
  display:block;
}

.sublinks h2{
  font-size:20px;
  cursor: pointer;
}

.article-img{
  width: 100%;
}
#mobile-nav{
  display: none;
  color: #aaa;
  text-align: center;
  font-size: 30px;
}


@media (max-width: 768px){
  #mobile-nav{
    display: block;
  }
  .header{
    position: fixed;
    width: 65px;
    height: 100%;
    background-color: #fff;
    z-index: 999;
    -webkit-transition: all .5s;
    transition: all .5s;
  }
  .header.show-mobile-menu{
    width: 200px;
  }
  #nav{
    position: relative;
    float: none;
    left:-200px;
    -webkit-transition: all .5s;
    transition: all .5s;
  }
  .header.show-mobile-menu #nav{
    left:0;
  }
  #nav li,#nav ul{
    display: block;
  }
  #nav li a{
    text-align: center;
    font-size: 16px;
  }
  #logo{
    display: none;
  }
  #mobilelogo{
    position: relative;
    width: 65px;
    height: 150px;
    background-image: url(/assets/img/mobilelogo.png);
    background-repeat: no-repeat;
    background-position: 50% 10px;
    background-size: 75%;
    margin:0 auto;
  }
  #welcome{
    padding: 20px;
  }
  .home-text{
    width: auto;
    margin: 0;
  }
  .content-ng{
    padding-left: 65px;
  }
  .collection{
    padding: 0px;
  }
  .container{
    padding-left: 15px;
  }
  .article-img {
    width: 110%;
    margin-left: -5%;
    margin-right: -5%;
  }
}
@media (min-width:769px) and (max-width: 992px){

}
@media (min-width:993px) and (max-width: 1200px){

}
@media (min-width: 1201px){

}

